.collapse {
  
  // @include zoomOut(
  //   $duration: 150ms,
  //   $delay: 0ms,
  //   $function: ease-in-out,
  //   $fill: both
  // );
  
  &.in {

    // @include zoomIn(
    //   $duration: 150ms,
    //   $delay: 0ms,
    //   $function: ease-in-out,
    //   $fill: both
    // );

    @include bounceInUp(
      $duration: 250ms,
      $delay: 0ms,
      $function: ease-in,
      $fill: both
    );

  }
  

}
