/* Icons
****************************************************/
// .ml-icon {
//   align-items: center;
//   border-radius: .25rem;
//   cursor: pointer;
//   display: flex;
//   height: 2rem;
//   line-height: 2rem;
//   width: 2rem;
//   font-size: 16px;
//   font-weight: 400;
//   justify-content: center;
//   line-height: 24px;
//   padding: 0;
//   text-transform: none;
//   vertical-align: baseline;
//   background-color: transparent;
//   border-color: transparent;
//   color: #6b6c7e;
//   transition: 
//     color .15s ease-in-out,
//     background-color .15s ease-in-out,
//     border-color .15s ease-in-out,
//     box-shadow .15s ease-in-out;
//   overflow: hidden;
//   text-decoration: none;

//   svg {
//     margin-top: 0;
//     overflow: hidden;
//     display: inline-block;
//     fill:  #6b6c7e;
//     height: 1em;
//     pointer-events: none;
//     vertical-align: middle;
//     width: 1em;
//     cursor: pointer;
//   }
// }

.ml-icon {

  display: inline-block;
  height: 20px;
  width: 20px;
  fill: #B0B0B0;
  padding:3px 5px;
  margin-top: 0px;
  pointer-events: none;
  vertical-align: middle;

  &:hover {
    fill: #505050;
  }

  &.ml-icon-pencil,
  &.ml-icon-reorder,
  &.ml-icon-navigation-close {
    height: 18px;
    width: 18px;
  }
  &.ml-icon-arrow-chevron-thin-right {
    height: 22px;
    width: 22px;
    padding: 1px 0;
  }

  &.ml-icon-cog {
    padding: 1px 2px;
    fill: #c7c7c7;
  }

  &.ml-icon-info-solid {
    fill: #505050;
  }

  &.ml-icon-bookmark-solid {
    height: 3em;
    width: 3em;
  }

  &.ml-icon-external-link {
    height: 0.75rem;
    width: 0.75rem;
    fill: $primary;
    margin-left: 5px;
  }

}

.ml-quick-action-item .ml-icon {
  margin-top: 0;
}
