/* Icons
****************************************************/

.ml-icon {

  display: inline-block;
  fill: #B0B0B0;
  pointer-events: none;
  vertical-align: middle;

  &:hover {
    fill: #505050;
  }

  &.ml-icon-reorder,
  &.ml-icon-navigation-close {
    height: 18px;
    width: 18px;
    padding: 5px;
    fill: #B0B0B0 !important;
  }

  &.ml-icon-pencil {
    height: 16px;
    width: 16px;
    fill: #B0B0B0 !important;
  }

  &.ml-icon-arrow-chevron-thin-right {
    height: 22px;
    width: 22px;
    padding: 1px 0;
    fill: #7f7f7f;
  }

  &.ml-icon-cog {
    height: 22px;
    width: 22px;
    padding: 1px 2px;
    fill: #c7c7c7;
  }

  &.ml-icon-info-solid {
    height: 22px;
    width: 22px;
    fill: #505050;
  }

  &.ml-icon-information-outline,
  &.ml-icon-information-solid {
    height: 22px;
    width: 22px;
    fill: #505050;
  }

  &.ml-icon-external-link {
    fill: $primary;
    margin-left: 5px;
    height: 10px;
    width: 10px;
  }

}

// 
.ml-info-circle .ml-icon-bookmark-solid {
  height: 22px;
  width: 22px;
  fill: #505050;
}

.btn-icon-info .ml-icon-information-outline {
  height: 22px;
  width: 22px;
  fill: #c7c7c7;
}

.ml-add-item .ml-icon-navigation-plus {
  fill: #B0B0B0;
  height: 22px;
  width: 22px;
  margin-right: 5px;
}

.btn-link .ml-icon-pencil {
  height: 18px;
  width: 18px;
  fill: #B0B0B0 !important;
}

.ml-quick-action-item .ml-icon {
  margin-top: 0;
}
