.modal {
  font-family: $font-family-base;
}
.modal-header {
    .modal-title {
        font-weight: 700;
        color: $dark;
        // font-family: $font-family-base;
    }
}

.close-modal {
    float: right;
    background: transparent;
    border-color: transparent;
    .ml-icon-navigation-close {
        height: 20px;
        width: 20px;
        fill: $secondary;
    }
}
// .modal-body {
//   label {
//     font-family: $font-family-base;
//   }
// }
.modal-footer {

    .btn-default {
        background:     transparent;
        border-color:   transparent;
        color:          $primary;
        font-size:      0.875rem;
        font-weight:    600;
        text-transform: uppercase;
    }

    .btn-secondary {
        background:     $form-btn-bg;
        border-color:   $form-btn-bg;
        color:          $white;
        font-size:      0.875rem;
        font-weight:    600;
        text-transform: uppercase;
    }
}
