<form class="editLinkForm">
  <div class="modal-header">
    <div class="modal-title">Delete link to</div>
    <button type="button" class="btn-link btn-delete float-right" aria-label="Close" (click)="decline()">
      <svg class="ml-icon ml-icon-navigation-close" focusable="false" role="presentation">
        <use href="/assets/icons.svg#navigation-close" />
      </svg>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p>Are you sure you want to delete the link '{{ Link.title }}'</p>
      <p>This change is immediate and CANNOT BE UNDONE</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">No</button>
    <button type="submit" class="btn btn-success" (click)="deleteLink(id)">Yes</button>
  </div>
</form>
