<!-- BEGIN: MODAL HEADER -->
<div class="ml-modal-header">
  <div class="modal-title">Delete link {{ linkObject.title }}</div>
  <button type="button" class="close-modal" aria-label="Close" (click)="decline()">
    <svg class="ml-icon ml-icon-navigation-close" focusable="false" role="presentation">
      <use attr.xlink:href="{{ASSETURL + '/icons.svg#navigation-close' }}" />
    </svg>
  </button>
</div>
<!-- END: MODAL HEADER -->

<!-- BEGIN: MODAL FORM -->
<form id="linkDeleteForm">

  <!-- BEGIN: MODAL BODY -->
  <div class="ml-modal-body">
    <p>Are you sure you want to delete the link '{{linkObject.title}}'?</p>
  </div>
  <!-- END: MODAL BODY -->

  <!-- BEGIN: MODAL FOOTER -->
  <div class="ml-modal-footer">
    <button type="button" class="ml-btn btn-default" (click)="decline()">Cancel</button>
    <button type="button" class="ml-btn btn-primary" (click)="delete()">Delete</button>
  </div>
  <!-- END: MODAL FOOTER -->

</form>
<!-- END: MODAL FORM -->
