<div class="ml-modal-header">
  <div class="modal-title">Manage My Links</div>
  <button type="button" class="close-modal" aria-label="Close" (click)="modalRef.hide()">
      <svg class="ml-icon ml-icon-navigation-close" focusable="false" role="presentation">
        <use attr.xlink:href="{{ASSETURL + '/icons.svg#navigation-close' }}" />
      </svg>
  </button>
</div>
<div class="ml-modal-body">
  <p>Select those items you want to remove from your saved My Links list. </p>
  <div class="row">
    <div class="col-sm-4" *ngFor="let link of Link">
      <div *ngIf="link.linkType == 'External'">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="userlink-{{link.id}}">
          <label class="custom-control-label" for="userlink-{{link.id}}"><a id="xlink-{{ link.id }}" title="{{ link.title }}" [href]="link.url" target="_blank">{{ link.title }}</a></label>
          <span class="inline-item">
            <svg aria-hidden="true" class="ml-icon ml-icon-external-link">
              <use attr.xlink:href="{{ASSETURL + '/icons.svg#external-link' }}" />
            </svg>
          </span>
        </div>
      </div>
      <div *ngIf="link.linkType == 'Ikon'">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="ikonlink-{{link.id}}">
          <label class="custom-control-label" for="ikonlink-{{link.id}}"><a id="ikonl-{{ link.id }}" title="{{ link.linkTitle }}" [href]="link.UUid">{{ link.linkTitle }}</a></label>
        </div>
      </div>
    </div>
  </div>
  <p>You have selected 4 items to remove.</p>
</div>
<div class="ml-modal-footer">
  <button type="button" class="ml-btn btn-default" (click)="modalRef.hide()">Cancel</button>
  <button type="submit" class="ml-btn btn-primary" (click)="deleteSelected()">Remove</button>
</div>
